@mixin column {
	padding: 40px;
	box-sizing: border-box;
	float: left;
	height:100vh;
}

.contact-icons {
  display: block;
	font-size: 1.4em;
  margin-right: 20px;
}

.blog-link {
  font-size: 3rem;
  display: block;
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
}

.marq {
  font-size: 56px;
  margin-bottom: 20px;
  display: block;
}

.marq-container {
  top: 0;
  z-index: -1;
  height: 100%;
}

.hero-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.hero {
  background: linear-gradient(269deg, #d7a9ec, #eca9c9, #a9ecde, #e7eca9);
  background-size: 800% 800%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: rainbow 30s ease infinite;
  -moz-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
  opacity: 0.6;
  overflow: hidden;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
  border: 4px solid hotpink;
  margin: 10px;
  height: 100%;
}
.title {
  font-size: 55px;
  position: absolute;
  z-index: 3;
  text-align: center;
  padding: 0;
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minor {
    position: relative;
    margin-top: 80px;
}
.col-1 {
	@include column;
	background-color: #B5A8CD;
	color: white;
	width: 65%;
}

.statement {
	font-size: 34px;
	margin: 40px 0;
}

.twitter:before {
  background-image: url("../twitter.png");
  height: 20px;
  content: '';
	width: 25px;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.github:before {
  height: 20px;
  background-image: url("../github.png");
  content: '';
	width: 19px;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.email:before {
  background-image: url("../email.png");
  height: 20px;
  content: '';
	width: 20px;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.col-1 {
		width: 100%;
		float: initial;
		height: 100%;
	}
}

.footer {
  height: 20vh;
  text-align: center;
}

.footer a, .footer a:visited {
  color: black;
}

.current {
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

a, a:visited {
  color: hotpink;
  font-weight: 100;
  text-decoration: none;
}
