* {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0px;
	margin: auto 0;
}

@font-face{ 
	font-family: 'BebasNeue-webfont';
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?iefix') format('eot'),
	     url('BebasNeue-webfont.woff') format('woff'),
	     url('BebasNeue-webfont.ttf') format('truetype'),
	     url('BebasNeue-webfont.svg#webfont') format('svg');
}

#my-story,#web-dev,#marketing,#values,#contact {
	min-height: 300px;
}


a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #0099CC;
}

.headline {
	text-align: center;
	padding-top: 20px;
}

.bottom-links {
	color:#0099CC;;
}

h1 {
	color: #636f6d;
}


h2 {
	font-size: 1rem;
}

ul {
	text-align: left;
}

.sub-headline {
	margin-bottom: 15px;
	text-decoration: underline;
}
#container #my-story #web-dev #marketing #values #contact {
	display: block;
	position: relative;
	padding: 0px;
	margin: 0 auto;
}

#container {
	width: 100%;
	margin: 0 auto;
}


.odd {

	padding: 15px;
}

.even {
	padding: 20px;
	background-image: url('bg-8-full.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.col-1 {
	display: inline-block;
	width: 36%;
	vertical-align: top;
	margin-top: 20px;
	padding-top: 15px;
}


.col-2 {
	display: inline-block;
	border: 2px solid white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 20px 30px;
	margin-left: 60px;
	padding: 15px 10px;
	height: 200px;
	width: 15%;
	vertical-align: baseline;
}

.even .col-2 {
	border: 2px solid #636f6d;

}

.even .col-2 li a{
	color: #636f6d;
}



.left {
display:inline-block;
}

.right {
display: inline-block;
text-align: left;
}

.sub-sub-headline {
	margin-bottom: 10px;
}
/*-----Starter Header Section---*/

#name {
	font-family: 'BebasNeue-webfont', Arial, sans-serif;
	color: white;
	font-size: 8rem;
	padding-top: 80px;
}
#header {
	background-image: url('congruent_outline.png');
	background-size: contain;
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 200px;
	overflow: hidden;
	text-align: center;
	height: 600px;
	display: table;
	width: 100%;


}

#me-photo {
	margin: 0 auto;
	display: block;
	width: 20%;
	height: 20%;
}


#nav-left {
	display: inline-block;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	font-size: 2rem;
	text-align: left;
	line-height: 2.7rem;

}

#nav-right {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 2rem;
	line-height: 2.7rem;

}

#arrow {
	position: relative;
	width: 100px;
	height: 100px;
	text-align: center;
}

#arrow-div {
	text-align: center;
}




/*----My Story----*/

.copy {
	display: inline-block;
	width: 46%;
	vertical-align: top;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 45px;
}

#my-story {
	text-align: center;
	position: relative;
	clear: both;
	line-height: 1.5rem;

}


/*---- Experience ----- */

#experience {
display: inline-block;
margin: 20px 30px;
margin-left: 60px;
padding: 15px 10px;
height: 200px;
width: 30%;
}

#marketing-exp {
	margin-top: 15px;
}

ul.experience-work {
margin-left: 15px;
}

/*--- Web Dev ---- */

#web-dev {

	text-align: center;
	position: relative;

}

#web-dev h1 {
	color: white;
}

.date {
	font-size: .75rem;
	margin-bottom: 15px;
}

.experience-work li {
	font-size: .75rem;
	margin-bottom: 5px;
}

/*---- Marketing ----- */
#marketing {

	text-align: center;
	position: relative;
	padding: 36px;
}

#marketing ul {
	margin-left: 15px;
}

#marketing a:hover {
	color: #636f6d;
}

#marketing a:link {
	color: black;
}

#marketing a:visited {
	color: #636f6d;
}

/*---- Values -----*/
#values {

	text-align: center;
	position: relative;
	line-height: 1.7rem;
}

#values h1 {
	color: white;
}

#values li {
	margin-bottom: 15px;
}

#values-2 {
	display: inline-block;
	width: 36%;
	vertical-align: top;
	margin-top: 20px;
	padding-top: 15px;
	margin-left: 37px;
}

/*---- Contact ----- */

#contact {
	text-align: center;
	position: relative;
}

.contact {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	padding-top: 15px;
}

#contact a:link {
	color: black;
}

#contact a:hover {
	color: #636f6d;
}

/*---- Footer ---- */

footer {
	height: 50px;
	background-color: #929A99;
	color: white;
	padding-left: 15px;
	padding-top: 15px;
}

/*--- Media Queries ---- */
@media (max-width: 631px) {
  #nav-right {
    display: block;
    margin-left: 35%;
    padding-bottom: 0px;
    width:100%;
    padding-top: 0px;
  }

  #nav-left {
    display: block;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .copy{
  	width: 100%;
  }
}


@media (max-width: 452px) {
  #nav-right {
    display: block;
    margin-left: 35%;
    padding-bottom: 0px;
    width:100%;

  }

  #nav-left {
    display: block;
    margin-left: 35%;
    padding-top: 10px;
  }
}

