* {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0px;
	margin: auto 0;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #636f6d;
}

.headline {
	text-align: center;
	padding-top: 20px;
}

h1 {
	color: #636f6d;
}

#container #my-story #web-dev #marketing #values #contact {
	display: block;
	position: relative;
	padding: 0px;
	margin: 0 auto;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#me-photo {
	margin: 0 auto;
	display: block;
	padding-top: 100px;
	width: 20%;
	height: 20%;
}

#header {
	background-image: url('congruent_pentagon.png');
	background-size: contain;
	background-repeat: repeat;
	min-height: 200px;
	overflow: hidden;
	text-align: center;

}

.odd {
	background-image: url('texture.png');
	background-size: contain;
	background-repeat: repeat;
}
#nav-left {
	display: inline-block;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	font-size: 2rem;
}

#nav-right {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 2rem;
}

#my-story {
	min-height: 200px;
	clear: both;
}

#web-dev {
	min-height: 200px;
}

#marketing {
	
	min-height: 200px;
}

#values {
	min-height: 200px;
}

#contact {
	
	min-height: 200px;
}