$font-stack: 'Open Sans', sans-serif;
$blue: #007EE5;
$light-grey: #8899A7;
$dark-grey: #4C545A;





body {
  margin: 0 auto;
}

p, a {
	font-family: $font-stack;
  color: $light-grey;
}

a:link {
  text-decoration: none;
}

h1 {
	font-family: $font-stack;
	font-size: 37px;
	color: white;
  font-weight: normal;
}

h2 {
	font-family: $font-stack;
	font-size:22px;
	color: $light-grey;
	text-align: center;
  font-weight: normal;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a.button {
text-align: center;
display: block;
border: 1px solid $blue;
border-radius: 3px;
width: 100px / 1050px * 100%;
padding: 5px;
margin: 0 auto;
margin-top: 20px;
color: $blue;
}

/* Hero Styling */
#hero {
	background-color: $blue;
	height: auto;
	width: 100%;
  padding-top: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;

    .layer {
      background-image: url("../../assets/dropbox-for-business-files.png");
      position: absolute;
      width: 100%;
      height: 500px;
      text-align: center;
      z-index: -1;
      top:0;
      opacity: 0.0;
      -webkit-animation: layer-hero 2s ease-in-out 1s forwards;
      -moz-animation: layer-hero 2s ease-in-out 1s forwards;
      -o-animation: layer-hero 2s ease-in-out 1s forwards;
      animation: layer-hero 2s ease-in-out 1s forwards;
    }

    .header-text {
      display: block;
      text-align: center;
      z-index: 999999;
      margin: 0 auto;
      .button {
        background-color: white;
        color: $blue;
        border: 2px solid #266cb9;
        border-radius: 5px;
        padding: 14px;
        margin-bottom: 20px;
        width: 255px / 1050px * 100%;
        cursor: pointer;
      }

      .button:hover {
        background-color: #f0f7fd;
      }

    }

    h1 {
      margin-top: 75px;
    }

    ul {
      line-height: 200%;
    }

    img {
      width: 35%;
      margin-bottom: 20px;
    }

    p {
      color: white;
      display: inline-block;
      margin: 0 auto;
    }



    a {
      color: white;
    }

    a:hover {
      color: $dark-grey;
      border-bottom: $light-grey;
    }

    #copy {
      line-height: 30px;
      width: 550px / 1050px * 100%;
    }

    #last {
      border-bottom: 1px solid white;
    }
}

/* Nav Styling */

.desktop {
  text-align: left;
  left: 0;
  width: 152px;
  position: absolute;
  top: 50px;
  margin-right: 20px;

  ul {
    list-style: none;

    a {
      font-family: $font-stack;
      font-size: 15px;
      color: white;
    }
  }
}

.mobile-menu {
  text-align: center;
  width: 85%;
  visibility: hidden;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;

  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin-right: 10px;
  }

  li a {
    color: white;
  }

  li a:hover {
    color: $dark-grey;
  }
}


/* Why Dropbox Styling */


#why-dropbox {
	height: auto;
	width: 100%;
	text-align: center;
	padding-top: 50px;
	border-bottom: 1px solid $light-grey;

      div {
      display: inline-block;
      width: 310px / 1050px * 100%;
      margin-right: 30px;
      }

      #block-one.animate {
        display: none;
        -webkit-animation: slideIn 3s ease-in-out 0s forwards;
        -o-animation: slideIn 3s ease-in-out 0s forwards;
        -moz-animation: slideIn 3s ease-in-out 0s forwards;
        animation: slideIn 3s ease-in-out 0s forwards;
        
      }

      #block-two.animate {
        visibility: hidden;
        -webkit-animation: slideIn 3s ease-in-out 1s forwards;
        -o-animation: slideIn 3s ease-in-out 1s forwards;
        -moz-animation: slideIn 3s ease-in-out 1s forwards;
        animation: slideIn 3s ease-in-out 1s forwards;
      }

      #block-three.animate {
        visibility: hidden;
        -webkit-animation: slideIn 3s ease-in-out 2s forwards;
        -o-animation: slideIn 3s ease-in-out 2s forwards;
        -moz-animation: slideIn 3s ease-in-out 2s forwards;
        animation: slideIn 3s ease-in-out 2s forwards;
      }

  

      .blocks {
        overflow:hidden;
      }

      .button {
        margin-bottom: 40px;
      }

      .button:hover {
        background-color:#f0f7fd;
      }
}

/* What Can Dropbox Do Styling */
#what-can-dropbox {
	width: 100%;
	padding-top:50px;
  text-align: center;
  display: block;

  .slideshow-wrap {
    margin-bottom: 60px;
  }

  p {
    width: 310px / 1050px * 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h2 {
    width: 310px / 1050px * 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  #slider {
    list-style: none;
    position: relative;
    width: 96%;
    height: 325px;
    max-width: 540px;
    margin: 0 auto;
    display: inline-block;
  }

  #slider img {
   position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    max-width: 775px;
    max-height: 400px;
  }

  #control-right {
    display: inline;
    top: -150px;
    left: 50px;
    position: relative;
    cursor:pointer;
  }

  #control-left {
    display: inline;
    left: -50px;
    top: -150px;
    position: relative;
    cursor:pointer;
  }

  #dots {
    list-style:none;
    padding:0px;
    padding-top:10px;
    text-align:center;
    width: 100%;
    

  }
  #dots ul{
    margin-top:10px;
  }

  #dots li {
    display:inline-block;
    border-radius:10px;
    width:10px;
    height:10px;
    margin: 0 5px;
    border:3px solid $blue;
    background: $blue;
    cursor:pointer;
  }

  #dots li.active {
    background: $light-grey;
    border:3px solid $light-grey;
  }

  .button {
    margin-bottom: 60px;
  }

  .button:hover {
    background-color: #f0f7fd;
  }
}

/* Dropbox Video Styling */
#dropbox-video {
	height: 500px;
	width: 100%;
	text-align: center;
  background: url('../../assets/video-still.jpg') center center;
  -webkit-background-size: cover;

    h2 {
      position: relative;
      display: inline-block;
      top: 35px;
      width: 28.523%;
    }

    .videoPlayer {
      max-width: 100%;
      width: 100%;
      max-height: 500px;
    }

    img.play {
      display:block;
      position: relative;
      top: 85px;
      max-width: 100%;
      margin: 0 auto;
      cursor: pointer;

    }

    .still {
      width: auto;
      height: 100%;
      display: none;
    }
}

video {
  max-width: 100%;
  display:none;
}

/* Get Your Team Styling */
#get-your-team {
	height: 225px;
	width: 100%;
	border-bottom: 1px solid $light-grey;
	text-align: center;

    .buttonTwo {
      display: block;
      margin: 0 auto;
      background-color: $blue;
      color: white;
      padding: 5px;
      width: 240px / 1050px * 100%;
      height: 35px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px #888888;
      line-height: 35px;

        a {
          text-decoration: none;
        }
    }

    .buttonTwo:hover {
      background-color: #3398ea;
    }

    h2 {
      padding-top: 15px;
    }
}

/* Footer Styling */
footer {
	height: 300px;
	width: 100%;
	text-align: left;

    ul {
      display: inline-block;
      width: 85px / 1050px * 100%;
      margin-right: 30px;
      list-style: none;
      vertical-align: top;

       li a {
        font-size: 13px;
        color: $dark-grey;
       }

       .header {
        font-weight: bold;
        font-size: 13px;
        line-height: 0%;
        color: $dark-grey;
      }
  a:hover {
    color: $light-grey;
  }

      
  }

  #language {
        float: right;
        right: 44px;
        position: relative;
        width: 75px;
        height: 32px;
        top: 15px;
      }

     #language p:before {
        font-family: FontAwesome;
        font-weight: normal;
        content: "\f0ac";
        display: inline;
        margin-right: 5px;

      }

      #language p:after {
        font-family: FontAwesome;
        display:inline-block;
        content: "\f106";
        display: inline;
        position: relative;
        left: 5px;

      }

      #language p {
        display: inline;
      }
}

/* Animations */

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-150%);
    opacity: 0;
    width: 100px;
    -webkit-filter: blur(3px);
  }
  50% {
    -webkit-transform: translateX(8%);
    opacity: 0.5;
  }
  65%{
    -webkit-transform: translateX(-4%);
    opacity: 0.65;
  }
  80%{
    -webkit-transform: translateX(4%);
    opacity: 0.80;
  }
  95%{
    -webkit-transform: translateX(-2%);
    opacity: 0.95;
  }     
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1.0;
    width: 210px;
    -webkit-filter: blur(0px);
  }
}

@-o-keyframes slideIn {
  0% {
    -o-transform: translateX(-150%);
    opacity: 0;
    width: 100px;
    -o-filter: blur(3px);
  }
  50% {
    -o-transform: translateX(8%);
    opacity: 0.5;
  }
  65%{
    -o-transform: translateX(-4%);
    opacity: 0.65;
  }
  80%{
    -o-transform: translateX(4%);
    opacity: 0.80;
  }
  95%{
    -o-transform: translateX(-2%);
    opacity: 0.95;
  }     
  100% {
    -o-transform: translateX(0%);
    opacity: 1.0;
    width: 210px;
    -o-filter: blur(0px);
  }
}

@-moz-keyframes slideIn {
  0% {
    -moz-transform: translateX(-150%);
    opacity: 0;
    width: 100px;
    -moz-filter: blur(3px);
  }
  50% {
    -moz-transform: translateX(8%);
    opacity: 0.5;
  }
  65%{
    -moz-transform: translateX(-4%);
    opacity: 0.65;
  }
  80%{
    -moz-transform: translateX(4%);
    opacity: 0.80;
  }
  95%{
    -moz-transform: translateX(-2%);
    opacity: 0.95;
  }     
  100% {
    -moz-transform: translateX(0%);
    opacity: 1.0;
    width: 210px;
    -moz-filter: blur(0px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    opacity: 0;
    width: 100px;
    filter: blur(3px);
  }
  50% {
    transform: translateX(8%);
    opacity: 0.5;
  }
  65%{
    transform: translateX(-4%);
    opacity: 0.65;
  }
  80%{
    transform: translateX(4%);
    opacity: 0.80;
  }
  95%{
    transform: translateX(-2%);
    opacity: 0.95;
  }     
  100% {
    transform: translateX(0%);
    opacity: 1.0;
    width: 210px;
    filter: blur(0px);
  }
}

@-webkit-keyframes layer-hero {
  0% {
    -webkit-transform:translateY(100%);
    opacity: 0.0;
  }
  100% {
    -webkit-transform:translateY(0%);
    opacity: 1.0;
  }
}

@-o-keyframes layer-hero {
  0% {
    opacity: 0.0;
    -o-transform:translateY(100%);
  }
  100% {
    -o-transform:translateY(0%);
    opacity: 1.0;
  }
}

@-moz-keyframes layer-hero {
  0% {
    opacity: 0;
    -moz-transform:translateY(100%);
  }
  100% {
    -moz-transform:translateY(0%);
    opacity: 1.0;
  }
}

@keyframes layer-hero {
  0% {
    opacity: 0;
    transform:translateY(100%);
  }
  100% {
    transform:translateY(0%);
    opacity: 1.0;
  }
}


/* Media Queries */
@media all and (max-width: 685px) {

    .mobile-menu {
    visibility: visible;
  }
    .navButton {
      visibility: hidden;
    }

    nav {
      display: none;
    }

    #why-dropbox .blocks {
      display: block;
      margin: 0 auto;
      width: 55%;
    }

    a.button {
      width: 16.523%;
    }

    #what-can-dropbox h2 {
    width: 65.524%;
  }

  #what-can-dropbox p {
  width: 70.524%;
  }

  #what-can-dropbox a.button {
    width:23.524%;
  }

  #dropbox-video h2 {
    width: 65.524%;
  }

#hero #copy {
  width: 70.3%;
}

#hero {
  padding-right: 10px;
  padding-left: 10px;
}
}
