/*test*/
h1 {
	font-family: 'Megrim', sans-serif;
	font-size: 4rem;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

p, li, a {
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	margin:0px;
	padding:0px;
	}
ul {
	list-style: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


#container {
	width: 100%;

}

header {
	text-align: center;
	background-image: url('utah1.JPG');
	background-size: cover;
	height:700px;
	position: relative;
	-webkit-animation: opacityHeader 2s ease-in 1s forwards;
}

header #text {
	position: absolute;
	color:white;
	margin-left: 31%;
	margin-top: 270px;
	line-height: 2rem;
}

header p {
	font-size: 3rem;
}



#left {
	display: inline;
	text-align: center;
}

#right {
	float: left;
	display: inline;
	text-align: center;
	margin-left: 40px;
	height: 700px;
	width: 100%;
}

#experience-wrap {
	display:inline;
	text-align: center;
	width: 100%;
}



.drop-button {
border: 2px solid #ebebeb;
border-radius: 4px;
padding: 5px;
text-decoration: none;
color: black;
cursor: pointer;
display: block;
margin: 0 auto;
background-color: white;
transition: background-color 1s ease;
-webkit-transition: background-color 1s ease;
-o-transition: background-color 1s ease;
-moz-transition: background-color 1s ease;
}

.drop-button:hover {
	background-color: #ebebeb;
	color: white;
}

#right img {
	max-width: 150px;
	width: 100%;
	opacity: 1.0;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	transition: filter 0.5s ease;
	-webkit-transition: filter 0.5s ease;
	-o-transition: filter 0.5s ease;
	-moz-transition: filter 0.5s ease;
}

#right .title {
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
}

#barker {
	top: 48px;
	position: relative;
}

#shopatron {
	top: 90px;
	position: relative;
}

#right img:hover{
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

#right div {
	float: left;
	display: inline;
	width: 356px;
	}

#right ul {
	text-align: left;
	list-style: disc;
}

#right ul li {
	line-height: 2rem;
}

.experience-work {
	display:none;
}
footer {
	height: 50px;
	background-color: #929A99;
	color: white;
	padding-left: 15px;
	padding-top: 15px;
	width: 100%;
	position: absolute;
}

@-webkit-keyframes opacityHeader {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1.0;
    }


